header {
	background: white; height: 70px;
	top: 0;
	border-bottom: 1px solid #CCCCCC;
	width: 100%;
	left: 0;
	position: fixed;
	text-align: center;
	}
.logo-header {
	background-image: url("https://github.com/Nada32/AirBnB_clone/blob/master/web_static/images/logo.png");
	background-repeat: no-repeat;
	background-position: 20px center;
	padding-left: 20px;
	display: flex;
}
